{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 50,
        "longitude": 40,
        "elevation": 10,
        "unit_system": "metric",
        "location_name": "Server Room",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}