server {
    listen 80;
    server_name {{ external_subdomains.lam }}.{{ domain_name }};
    
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ external_subdomains.lam }}.{{ domain_name }};

    location / {
        proxy_pass http://localhost:4000;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ external_subdomains.lam }}.{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ external_subdomains.lam }}.{{ domain_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}