server {
    listen 80; #443 ssl;
    server_name {{ external_subdomains.hass }}.{{ domain_name }};
#    include /docker/certbot/letsencrypt/options-ssl-nginx.conf;
#    ssl_dhparam /docker/certbot/letsencrypt/ssl-dhparams.pem;
    location / {
        proxy_pass http://localhost:4002;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
#    ssl_certificate /docker/certbot/letsencrypt/live/{{ external_subdomains.hass }}.{{ domain_name }}/fullchain.pem;
#    ssl_certificate_key /docker/certbot/letsencrypt/live/{{ external_subdomains.hass }}.{{ domain_name }}/privkey.pem;
}