{
  "log": "/var/log/gitlab-ldap-sync.log",
  "log_level": "INFO",
  "gitlab": {
    "api": "https://{{ external_subdomains.gitlab }}.{{ domain_name }}",
    "ssl_verify": yes,
    "private_token": "{{ token }}",
    "oauth_token": "",
    "ldap_provider": "LDAP",
    "create_user": true,
    "group_visibility": "internal",
    "add_description": true
  },
  "ldap": {
    "url": "ldaps://{{ control_aliases.ldap }}.{{ domain_name }}",
    "users_base_dn": "ou=People,{{ domain_ldap }}",
    "groups_base_dn": "ou=group,{{ domain_ldap }}",
    "bind_dn": "cn=readonly,{{ domain_ldap }}",
    "password": "{{ readonly_password }}",
    "groups_filter": ["admins", "developers", "testers"]
  }
}